
*.xml
dist/sccross-1.0.0.tar.gz
dist/sccross-1.0.0-py3-none-any.whl
.idea/scCross1.iml
dist/sccross-1.0.1.tar.gz
dist/sccross-1.0.1-py3-none-any.whl
dist/sccross-1.0.2.tar.gz
dist/sccross-1.0.2-py3-none-any.whl
